.cards-container {
    width: 100%;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(auto-fill, minmax(23.33%, 1fr));
    gap: 16px;
}

.blackbar {
    padding: 8px 16px;
    background: #212121;
}

.main-container {
    display: flex;
    width: 100%;
    height: calc(100% - 72px);
    padding: 8px;
    background: #fafafa;
}

#birthdayContainer {
    height: max-content;
    max-height: 200px;
    overflow: auto;
}

.birthday-pill {
    cursor: pointer;
    background: #ddd;
    margin: 4px;
}

.activeBirthday-pill {
    color: #fff;
    background: var(--primary);
}

.birthday-pill:hover {
    filter: brightness(90%);
}

.search-input-label {
    display: block;
    color: #fafafa;
    font-size: 0.815rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.teste {
    background: red;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    /* display: flex;
    flex-direction: column; */
}

.mycard {
    /* border: 1px solid red; */
    width: 100%;
    padding: 6px;
    /* height: 100%; */
}

.card-body p {
    margin: 0;
    font-size: 12px;
}

@media screen and (min-width: 991px) and (max-width: 1300px) {
    .cards-container {
        width: 100%;
        display: grid;
        height: max-content;
        grid-template-columns: repeat(3, minmax(23.33%, 1fr));
        gap: 16px;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .cards-container {
        width: 100%;
        display: grid;
        height: max-content;
        grid-template-columns: repeat(2, minmax(23.33%, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 600px) {
    .cards-container {
        width: 100%;
        display: grid;
        height: max-content;
        grid-template-columns: repeat(1, minmax(23.33%, 1fr));
        gap: 16px;
    }
}
